@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

div {
  form {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .loginContainer {
      position: relative;
      border: 1px solid #dbdbdb;
      width: 350px;
      height: 400px;

      h1 {
        font-family: 'Lobster', cursive;
        font-size: 50px;
      }
      .inputWrap {
        input {
          color: #9595a0;
          background-color: #fafafa;
          border: 1px solid #dbdbdb;
          text-align: center;
          width: 258px;
          height: 36px;
          margin-bottom: 8px;
        }
        button {
          background-color: #b2dffc;
          border: 0px;
          border-radius: 5px;
          width: 265px;
          height: 30px;
          color: white;
          cursor: pointer;
        }
      }

      .forgotPassword {
        padding-top: 80px;

        a {
          color: #385185;
          text-decoration: none;
        }
      }
    }
  }
}
