@mixin ul {
  list-style: none;
  padding-left: 0px;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #fafafa;

  .main_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;

    .main_feeds_left {
      margin-top: 30px;
      width: 500px;
      background-color: #fff;
      border: 1px solid #ededed;
      border-radius: 4px;
      overflow: hidden;

      .left_box_title {
        display: flex;
        align-items: center;

        .feeds_img_box {
          width: 50px;
          height: 50px;
          margin-top: 10px;
          margin-left: 10px;
          margin-bottom: 10px;
          border-radius: 70%;
          overflow: hidden;

          .profile_img {
            width: 100%;
            height: 100%;
          }
        }

        .profile_info {
          width: 378px;
          margin-left: 5px;
          padding-bottom: 5px;
        }

        .feedAddBtn {
          float: right;
          width: 50px;
          height: 50px;
          margin-right: 10px;
          background-color: #fff;
          border: 0 none;

          .feedAddIcon {
            height: 40px;
            margin: 0 auto;
            padding-bottom: 10px;
          }
        }
      }

      .box_mid {
        img {
          width: 500px;
          height: auto;
        }
      }

      .box_bottom {
        width: 100%;

        .box_icons {
          .icons_list {
            display: flex;
            width: 100%;
            padding-left: 10px;

            li {
              @include ul;
              .state_btn {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                border: none;
                background-color: #fff;
                font-size: 25px;
              }
            }

            ul {
              display: flex;
              justify-content: flex-end;
              width: 100%;

              .state_btn {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                border: none;
                background-color: #fff;
                font-size: 25px;
              }
            }
          }
        }

        .box_comments {
          width: 100%;

          .likes_comments {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
            padding-left: 10px;

            .likes_user {
              width: 40px;
              height: 40px;
              margin-top: 10px;
              border-radius: 70%;
              overflow: hidden;

              .profile_img {
                width: 100%;
                height: 100%;
              }
            }

            .comments_info {
              height: 30px;
              padding-top: 10px;
              padding-left: 10px;

              .comments_title {
                height: 30px;
              }
            }
          }

          .comments_list {
            ul {
              padding-left: 10px;

              li {
                .comments_title {
                  .user_id,
                  .comments_contents {
                    width: 100%;
                    padding-right: 8px;
                  }

                  .comment_btn {
                    width: 100px;
                    color: #b9b9b9;
                    background-color: #fff;
                    border: none;
                  }
                }

                .comments_title_line {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  height: 30px;

                  div {
                    .user_id,
                    .comments_contents {
                      width: 100%;
                      padding-right: 8px;
                    }
                  }

                  button {
                    width: 30px;
                    margin-right: 3px;
                    background-color: #fff;
                    border: none;
                    font-size: 15px;
                  }
                }
              }
            }
          }

          .feeds_time {
            padding-left: 10px;

            p {
              margin: 3px 0;
              color: #b9b9b9;
            }
          }

          .comments_div {
            display: flex;
            align-content: center;
            border-top: 1px solid #000;

            input {
              width: calc(100% - 40px);
              height: 40px;
              padding-left: 10px;
              color: #b9b9b9;
              background-color: #fff;
              border: none;
            }

            button {
              width: 40px;
              height: 40px;
              color: #0096f6;
              background-color: #fff;
              border: none;
            }
          }
        }
      }
    }
  }
}

.main_feeds_right {
  width: 350px;
  margin-top: 30px;

  div {
    .right_box_title,
    .story_box,
    .recommend_box {
      margin-bottom: 10px;

      .feeds_profile {
        display: flex;
        align-items: center;
        height: 70px;
        padding-top: 5px;

        .feeds_box {
          width: 50px;
          height: 50px;
          margin-left: 10px;
          border-radius: 70%;
          overflow: hidden;

          .profile_img {
            width: 100%;
            height: 100%;
          }
        }

        .profile_info {
          margin-left: 10px;
        }
      }
    }

    .box_tool {
      height: 250px;

      .box_contents {
        border: 1px solid #ededed;
        border-radius: 4px;
      }

      .box_top {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding-top: 20px;
        padding-left: 10px;
        background-color: #fff;

        .more_info {
          padding-right: 10px;

          a {
            color: #000;
            text-decoration: none;
          }
        }
      }

      .box_list {
        height: 200px;
        overflow-y: scroll;
        scrollbar-width: none;

        ul {
          .box_list_li,
          .recommend_list_li {
            display: flex;
            justify-content: flex-start;
            height: 60px;
            padding-left: 10px;
            background-color: #fff;

            .img_box {
              width: 50px;
              height: 50px;
              margin-top: 5px;
              border-radius: 70%;
              overflow: hidden;

              .profile_img {
                width: 100%;
                height: 100%;
              }
            }

            .profile_info {
              width: 190px;
              margin-left: 10px;

              p {
                height: 30px;
                margin: 0;
                padding-top: 10px;
              }

              .profile_introduce {
                padding-top: 3px;
                color: #b9b9b9;
              }
            }

            .follow_btn {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 70px;

              button {
                color: #0096f6;
                background-color: #fff;
                border: none;
              }
            }
          }
        }
      }

      .box_list::-webkit-scrollbar {
        display: none;
      }

      .recommend_list {
        height: 180px;
      }

      .recommend_contents {
        height: 230px;
      }
    }

    .footer {
      width: 100%;
      height: 100%;
      padding-top: 10px;
      color: #b9b9b9;
      background-color: #fafafa;
      text-align: center;
    }
  }
}
