@import '/src/styles/common.scss';
@import '/src/styles/reset.scss';
@import '../styles/mixin.scss';
@import '../styles/variables.scss';

.LoginBo {
  @include flexCenter;
  height: 100vh;
  padding: 20px;
  background-color: $mainBgColor;
  .container {
    width: 400px;
    height: 450px;
    border: $border;
    border-radius: 2px;
    background-color: #fff;

    .westa_box {
      margin-top: 50px;

      .logo {
        margin-bottom: 20px;
        font-size: 45px;
        font-family: $LoginFont;
        text-align: center;
      }

      .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .LoginId,
        .loginPwd {
          width: 229px;
          margin-bottom: 7px;
          padding: 10px;
          border: $border;
          border-radius: 3px;
          background-color: #fafafa;
          outline: 0;
        }

        .activeBtn {
          @include inputBtn;
          background-color: #0095f6;
        }

        .noneBtn {
          @include inputBtn;
          background-color: #c0dffd;
        }
      }

      .loginText {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 150px;
        a {
          color: #255183;
          font-size: 13px;
          text-decoration: $textDeco;
        }
      }
    }
  }
}
