@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
@import './../../../styles/common.scss';
@import './../../../styles/reset.scss';

.wrap {
  // @include flexCenter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #fafafa;

  .container {
    width: 400px;
    height: 450px;
    border: 2px solid #dbdbdb;
    border-radius: 2px;
    background-color: #fff;

    .westa_box {
      margin-top: 50px;

      .logo {
        margin-bottom: 20px;
        font-size: 45px;
        font-family: 'Lobster Two', cursive;
        text-align: center;
      }

      .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .LoginId,
        .loginPwd {
          width: 229px;
          margin-bottom: 7px;
          padding: 10px;
          border: 1px solid #dbdbdb;
          border-radius: 3px;
          background-color: #fafafa;
          outline: 0;
        }

        .loginBtn {
          width: 250px;
          height: 35px;
          margin-top: 7px;
          padding: 0;
          border: 0;
          border-radius: 3px;
          color: #fff;
          background-color: #c0dffd;
        }
      }

      .loginText {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 150px;
        color: #255183;
        font-size: 13px;
        text-decoration: none;
      }
    }
  }
}
