



.Main{
    
    border: 1px solid black;
    position: absolute;
    left:40%;
    top:20%;
    padding:30px;

        .changeFont{
            position:relative;
            font-family: 'Lobster', cursive;
            font-size:  85px;
            margin-top:20px; 
            
        }

        
        .wrap{
            display: block;
            width:100%;
            margin-bottom:10px;
            height:40px;

                
        }
        .button{
            border:none;
            background-color: #C4E1FB;
            color:white;
            border-radius:5px;
        }


        .forget{
            margin-top:100px;
            text-align:center;
            color:blueviolet;
            
        }
        
}







// .off{
//     display:none;
// }
