@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
.header {
  display: flex;
  justify-content: center;
  background-color: #fff;

  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60px;
    background-color: #fff;

    .nav_logo {
      display: flex;
      align-items: center;

      .fa-instagram,
      span,
      h1 {
        padding-right: 10px;
        font-size: 25px;
      }
    }

    .nav_input {
      position: relative;

      .search {
        width: 200px;
        padding: 5px;
        background-color: #efefef;
        border: 1px solid #bbb;
        border-radius: 4px;
        text-align: center;
      }

      .glass {
        position: absolute;
        left: 70px;
        top: 10px;
        color: #bbb;
        font-size: 10px;
      }
    }
    .nav_menu {
      display: flex;
      justify-content: space-between;
      width: 150px;

      .westaLogo {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      .westaLogo:nth-last-child(1) {
        margin: 0;
      }
    }
  }
}
